<a href="https://colab.research.google.com/github/Iftanaada/KKA-X.2-SEMESTER-1-IFTAHUNNADA/blob/main/1_Fungsi_print_Iftahun_Nada_X_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Iftahun Nada

Kelas: X.2

No absen: 13

#Menampilkan Teks Bebas

In [ ]:
print("halo word!")

halo word!

In [ ]:
print("Iftahun Nada")

Iftahun Nada

#Menampilkan Nilai Variabel

In [ ]:
berat_badan = 40

print(berat_badan)

40

In [ ]:
nama = "Iftahun Nada"

print(nama)

Iftahun Nada

In [ ]:
usia = 15
print(usia)

15

#Menampilkan Teks Bebas dan Nilai Variabel

In [ ]:
print("berat badan saya adalah ", berat_badan,"Kg.")

berat badan saya adalah  40 Kg.

In [ ]:
print("perkenalkan nama saya,", nama,".")

perkenalkan nama saya, Iftahun Nada .

In [ ]:
print("perkenalkan nama saya, " + nama+ ".")

perkenalkan nama saya, Iftahun Nada.

In [ ]:
print("berat badan saya adalah "  + str(berat_badan) + " Kg.")

berat badan saya adalah 40 Kg.

In [ ]:
print(f"perkenalkan nama saya {nama}.")

perkenalkan nama saya Iftahun Nada.

In [ ]:
print(f"berat badan saya adalah {berat_badan}Kg.")

berat badan saya adalah 40Kg.

#Escape Character

In [ ]:
print ("Nama : Iftahun Nada\nKelas : X.2\nNo.Absen : 13")

Nama : Iftahun Nada
Kelas : X.2
No.Absen : 13

In [ ]:
print("Nama : Iftahun Nada")
print("Kelas : X.2")
print("No.Absen : 13")

Nama : Iftahun Nada
Kelas : X.2
No.Absen : 13

In [ ]:
print("""Nama : Iftahun Nada
Kelas : X.2
No. Absen : 13""")

Nama : Iftahun Nada
Kelas : X.2
No. Absen : 13

In [ ]:
print("Nama\t\t : Iftahun Nada\nKelas\t\t : X.2\nNo.Absen\t : 13")

Nama		 : Iftahun Nada
Kelas		 : X.2
No.Absen	 : 13

In [ ]:
print("Jadwal Pelajaran Mingguan")

Jadwal Pelajaran Mingguan

In [ ]:
print("================================")

================================

In [ ]:
print("Jam\tSenin\t\tSelasa\t\tRabu")

Jam	Senin		Selasa		Rabu

In [ ]:
print("Jam 1\tMatematika\tBahasa\t\tInformatika")

Jam 1	Matematika	Bahasa		Informatika

In [ ]:
print("Jam 2\tBahasa Ingg.\tSejarah\t\tMa\'rifatullah")

Jam 2	Bahasa Ingg.	Sejarah		Ma'rifatullah

In [ ]:
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Jam 3	Informatika	Olahraga	Biologi

In [ ]:
print("Jadwal Pelajaran Mingguan")
print("===================================================")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ingg.\tSejarah\t\tMa\'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Jadwal Pelajaran Mingguan
===================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ingg.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

In [ ]:
print ('Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal Piket"\n\nSenin\tSelasa\tRabu\nJielo\tHasbi\tNaufal\nAzam\tAida\tNurul')

Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket"

Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	Aida	Nurul

#Paramater Fungsi Print

In [ ]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"
nama_siswa_4 = "Nurul"

print(nama_siswa_4, end="/")
print(nama_siswa_2, end="/")
print(nama_siswa_1, end="/")
print(nama_siswa_3)

Nurul/Aida/Jielo/Dani

In [ ]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_5, nama_siswa_8, nama_siswa_7, nama_siswa_6, nama_siswa_8, sep="*")

Hasbi*Naufal*Rendra*Habibi*Naufal